.login {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
}

.login-logo-container {

}

.login-logo {

}

.login-button {
  width: 300px !important;
  background-color: #738adb !important;
  color: #eff2f5 !important;
  font-weight: 800 !important;
}

.login-button:hover {
  background-color: black !important;
  color: #738adb !important;
}
 
.login-logo {
  object-fit: contain;
  height: 150px;
}